@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.landing {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

